<div id="<%= dom_id mining_type %>">

<h1><%=t('mining_types')%></h1>

  <p>
    <strong><%=t('description')%></strong>
    <%= mining_type.description %>
  </p>

  <p>
    <strong><%=t('acronym')%></strong>
    <%= mining_type.acronym %>
  </p>

</div>
