<p style="color: green"><%= notice %></p>
 <li>
    <%= link_to "Cadastrar Moedas", coins_path %> 
    </li>
<h1>Tipos de Mineração</h1>


<table>
	<thead>
	<tr><strong>
		<th><%=@mining_types.human_attribute_name(:description)%></th>
		<th><%=@mining_types.human_attribute_name(:acronym)%></th>
		<th colspan="2"></th>
		</strong>
	</tr>
	</thead>



<tbody>
  <% @mining_types.each do |mining_type| %>
    <tr>
      <td><%= mining_type.description%></td>
      <td><%= mining_type.acronym%></td>
      <td><%= link_to t('links.show'), mining_type%></td>
      <td><%= link_to t('links.edit'), edit_mining_type_path(mining_type)%></td>
      <td><%= link_to t('links.delete'), mining_type, method: :delete, data:{confirm: t('confirmation')}%></td>
      </tr> 
    <%end%> 
</tbody>
<br>
<%= link_to "New Mining Type", new_mining_type_path %>
