<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Produtos</title>
		</head>
	<body>

		<h1>Adicionar Produto</h1>
		<br />

		<% if(validacao){ %>
			<ul>
				<% for(var i = 0; i < validacao.length; i++){ %>
					<li>
						<%= validacao[i].msg %>
					</li>
				<% } %>
			</ul>
		<% } %>

		<form action="/produtos/salvar" method="post">
			<label>Descricao</label>
			<input type="text" id="descricao" name="descricao" value="<%=produto.descricao%>" placeholder="Descrição do produto" />
			<br />
			<label>Fabricante</label>
			<input type="text" id="fabricante" name="fabricante" value="<%=produto.fabricante%>" placeholder="fabricante do produto" />
			<br />
			<label>Categoria</label>
			<input type="text" id="categoria" name="categoria" value="<%=produto.categoria%>" placeholder="Categoria do Produto" />
			<br />
			<label>Valor Unitário</label>
			<input type="text" id="valor_uni" name="valor_uni" value="<%=produto.valor_uni%>" placeholder="Valor Unitário" />
			<br />
			
			<input type="submit" value="Enviar" />
		</form>

		

	</body>
</html>