<div id="<%= dom_id coin %>">
  <p>
    <strong>Descrição:</strong>
    <%= coin.description %>
  </p>

   <p>
    <strong>Sigla:</strong>
    <%= coin.acronym %>
  </p>

  <p>
      <strong>Imagem:</strong>
      <img src="<%= coin.url_image%>" width="25p" height="25px">
   </p>
    <p>
      <!--<strong>Url imagem:</strong>-->
      <!--<%= coin.url_image %>-->
  </p>

</div>

