<div id="<%= dom_id coin %>">
  <p>
    <strong><%=t('description')%></strong>
    <%= coin.description %>
  </p>

   <p>
    <strong><%=t('acronym')%></strong>
    <%= coin.acronym %>
  </p>

  <p>
      <strong><%=t('image')%></strong>
      <img src="<%= coin.url_image%>" width="25p" height="25px">
   </p>
    <p>
      <strong><%=t('mining_types')%></strong>
    	<td> <%= coin.mining_type.description %></td>
      <!--<strong>Url imagem:</strong>-->
      <!--<%= coin.url_image %>-->
  </p>

</div>

