<%= form_with(model: coin) do |form| %>
  <% if coin.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(coin.errors.count, "error") %> Esta moeda não poderá ser salva:</h2>

      <ul>
        <% coin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :Sigla, style: "display: block" %>
    <%= form.text_field :acronym %>
  </div>

  <div>
    <%= form.label :url_imagem, style: "display: block" %>
    <img src="<%= coin.url_image%>" width="25p" height="25px">
    <%= form.text_field :url_image %>
  </div>

<div class="field">
    <%= form.label :"Tipo de Mineração", style: "display: block" %>
    <%= form.select("mining_type_id", @mining_type_options, {include_blank:"Selecione..."}) %>
</div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
