<p style="color: green"><%= notice %></p>

<li>
    <ul>
    <%= link_to "Páginal Inicial", inicio_path %> 

    </ul>
</li>

<h1>Coins</h1>

<table>
	<thead>
	<tr><strong>
		<th>Descrição</th>
		<th>Sigla</th>
		<th>Url Imagem</th>
		<th colspan="3"></th>
		</strong>
	</tr>
	</thead>
	
	<tbody>
		<% @coins.each do |coin| %>
		<tr>
			<td><%= coin.description %></td>
			<td><%= coin.acronym %></td>
			<td> <img src="<%= coin.url_image%>" width="25p" height="25px"> </td>
			<td><%= link_to "Mostrar", coin %></td>
			<td><%= link_to "Editar", edit_coin_path(coin)%></td>
			<td><%= link_to "Excluir", coin, method: :delete, data:{confirm: 'Tem certeza?'}%></td>
				
		</tr>
    <%end%>
	</tbody>
</table>


<li>
    <ul>

    <%= link_to "Novo", new_coin_path %>
    </ul>
</li>



