<%= render 'longer_featured'%>

<div class = "row mb-2s">
<%= render 'medium'%>
<%= render 'medium'%>
<%= render 'article'%>
</div>

<div class="row">
    <div class="col-md-8 blog-main">
    <h3 class="pb-3 mb-4 font-italic border-bottom">From the Firehose</h3>
			<%= link_to 'Novo Article', new_article_path%>
		<%= render @articles %>
			<%= render 'pagination'%>

	</div>
<%= render 'archives'%>

</div>


