<%= render_if @highlights[0].present?, 'longer_featured', article: @highlights[0]%>
			
<div class = "row mb-2s">
<%= render_if @highlights[1].present?, 'medium', article: @highlights[1]%>
<%= render_if @highlights[2].present?, 'medium', article: @highlights[2]%>
</div>

<div class="row">
    <div class="col-md-8 blog-main">
    <h3 class="pb-3 mb-4 font-italic border-bottom">From the Firehose</h3>
	<p><%= link_to t('links.New Article'), new_article_path, class: 'btn btn-success' if user_signed_in?%></p>
	<%= render 'article' %>
	<%= render 'pagination'%>

	</div>
	<%= render 'right_side'%>

</div>

<%= content_for :category_filter do%>
	<div class="nav-scroller py-1 mb-2">
    	<nav class="nav d-flex justify-content-between">
		<% @categories.each do |category| %>
		<%= link_to category.name, articles_path(category: category.name), 
			class: "p-2 link-secondary #{'filter-active' if category.name.to_s == params[:category]}" %>
      <% end %>
    </nav>
  </div>
<%end%>
