<h1>Articles</h1>



                <td><%=@article.title%></td>
        		<td><%=@article.body%></td>

			<p class="blog-post-meta"><%= month_day_comma_year(@article.created_at) %> </p>
            <p>Por <a href="#">Anderson Pinheiro</a></p>

 
 			<%= link_to 'Edit', edit_article_path(@article),
			class:"btn btn-secondary"%>
 
 			<%= link_to "Destroy", article_path(@article),
			method: :delete, data: { confirm: "Are you sure?" },
			class:"btn btn-danger" %>

			<%= link_to 'back',  root_path() ,
			class:"btn btn-secondary"%>
            <hr>
             
                          



