<p> Ambiente de <%= ambiente_rails %></p>

<h1>Seja bem vindo!  </h1>

<p>Anderson Pinheiro</p>

<%= render"menu" %>


Desenvolvido por:
<strong><%= @nome %></strong>
<br>
Projeto do curso: <strong><%= @curso %></strong>

<p> A data de hoje é: <%= data_br(Date.today)%> <br>
 Horário atual <%= hora_atual %></p>
